* {
    box-sizing: border-box;
    /* border: 1px solid #000; */
    position: relative;
}
html,body{
    height: 100%;
}
a{
    text-decoration: none;
    color: #000;
}
h1,h2,p{
    margin: 0;
}
.wrapper{
    height:100%;
    /* background: rgb(255,255,255); */
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(151,151,151,1) 78%, rgba(0,0,0,1) 100%);
}
/* Product Card 設定 */
.product{
    width: 1200px;
    height:600px;
    /* background-color: transparent; */
    /* 水平居中 (display & margin)
    - 條件：
    1. display: block;
    2. 要有寬度的設定;
    3. 要有水平方向的margin設定
    */
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.product .plunin {
    background-color: transparent;  /* 設置背景為完全透明 */
    display: inline-block;
    width: 10%;
    height: 100%;
    margin:0;
}
.plunin a {
    background-color: #202020;
    color: #c6c6c6;
    font-family: Courier New;
    text-align: center;
    align-items: center; 
    justify-content: center;
    font-weight: bold;
    border-radius: 5%;
    overflow: hidden;
    transition: all 0.3s ease-in-out; /* 添加動畫效果 */
}
.product .plunin .slogan{  
    height: 35%;
    width: 45%;
    position: absolute;
    display: flex;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    top: 20%;
    right: 0%;
    font-size: 22px;
}
.product .plunin .slogan:hover,.product .plunin .rightArrow:hover,.product .plunin .leftArrow:hover{
    width: 80%;
    padding-left: 5px;           /* 添加間距防止文字貼齊邊緣 */
}
.product .plunin .slogan:active,.product .plunin .rightArrow:active ,.product .plunin .leftArrow:active{
    background-color: #c6c6c6;
    color: #202020;
}
.product .plunin .rightArrow {
    height: 8%;
    width: 45%;
    display: flex;
    position: absolute;
    top: 70%;
    right: 0%;
    font-size: 26px;
}
.product .plunin .leftArrow {
    height: 8%;
    width: 45%;
    display: flex;
    position: absolute;
    top: 79%;
    right: 0%;
    font-size: 26px;

}
.product .content {
    width: 90%;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    border-radius: 5%;
    overflow: hidden;
    box-shadow: 0 30px 50px 0 rgba(0, 0, 0, 0.5);
}
.product .image{
    background-color: #fff;
    vertical-align: top;
    display: inline-block;
    width: 55%;
    height: 100%;
}
.product .image img{
    object-fit: cover;
    position: absolute;
    top: 3%;
    left: 0%;
    border-radius: 50px, 50%, 0px, 0px;
}
.product .image .pointarea{
    position: absolute;
    width: 60px;
    height: 20px;   
    top: 95%;
    left: 50%;
    display: flex;              /* 啟用 Flexbox */
    justify-content: space-between; /* 使點均勻分布 */
    transform: translate(-50%, 0);
    position: absolute;
}
.product .point{
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #b5b5b5;
}
.product .info{
    background-color: #e6e6e6;
    vertical-align: top;
    display: inline-block;
    width: 45%;
    height: 100%;
    padding: 64px 30px;
}
.product .name{
    font-size: 50px;
    font-weight: 300;
    font-family: Courier New;
    color: #888888;
    margin-bottom: 30px;
}
.product .des{
    font-family: Courier New;
    color: #888888;
    margin-bottom: 30px;
}
.product hr{
    border: 0px;
    height: 1px;
    background-color: #a8a8a8;
    margin-bottom: 20px;
}
.product .secure{
    display: flex; 
    height: 50px;
    margin-bottom: 20px;
}
.product .secure img{
    margin-left: 10px;
    vertical-align: top;
    display: inline-block;
    height: 100%;
}
.product .secure a{
    margin-left: 10%;
    vertical-align: top;
    display: inline-flex;  
    align-items: center;        
    justify-content: center;
    height: 100%; 
    font-weight: 900;
    font-size: 24px;
    color: #787878;
    font-family: Courier New;
    text-decoration:underline; 
}
.product .pColor{
    height: 60px;
    margin-bottom: 20px;
}
.product .color{
    height: 60%; 
    font-weight: 800;
    color: #787878;
    font-family: Courier New;
}
.product .selectColor{
    height: 40%;
    position: absolute;
    top:70%;
}
.colorset{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}
.color1{
    background-color: #202020;
}
.color2{
    background-color: #fff;
}
.color3{
    background-color: rgb(11, 11, 65);
}
.color4{
    background-color: #7c2d2d;
}
.color5{
    background-color: #105009;
}
.product .price{
    display: flex; 
    height: 50px;
}
.product h2{
    display: inline-flex; 
    vertical-align: top;
    font-size: 28px;
    font-weight: 800;
    color: #787878;
    align-items: center; 
}
.product .price .btn {
    display: inline-flex; 
    vertical-align: top;
    align-items: center;  
    font-weight: 600;
    margin-left: 40px;
    margin-top:10px;
    padding: 10px;
    background-color: #8f8f8f;
    height: 80%;
    font-family: Courier New;
    border-radius: 5%;
    color: #eeeeee;
} 
